.Step {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
}

.stepContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  border-radius: 7px;
  width: 15vw;
  height: 25vh;
}

.stepContainer h1{
  font-size: 16px;
}


.addStep {
  height: 50%;
}