.Step {
  width: 15em;
  min-width: 15em;
  height: 12em;
  min-height: 12em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
}

.Step h1 {
  font-size: 16px;
}

.stepForm{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stepForm h4{
  margin: 5px;
}