.Analysis {
  margin-top: 40px;
}

.border {
  width: 100%;
  height: 5px;
  background-color: rgb(182, 182, 182);
}

#chartButton {
  margin-top: 25px;
}

.persona-img-analysis {
  width: 125px;
  height: 125px;
  border-radius: 60%;
  position: relative;
  left: 50px;
  bottom: 25px;
  border: 1px solid lightgray;
}

#compare-btn{
  width: 600px;
}