.StepList {
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
}

.stepContainer {
  display: flex;
  align-items: center;
}

.plusBtn {
  background-image: url('../../assets/plus.png');
  background-color: transparent;
  background-size: cover;
  border: none;
  width: 5em;
  height: 5em;
  margin-top: 20px;
  margin-bottom: 20px;
}

.addStep {
  background-image: url('../../assets/plus.png');
  background-color: transparent;
  background-size: cover;
  border: none;
  width: 3em;
  height: 3em;
  margin: 0;
  margin: 5px;
}

.addStep:focus {
  outline: none;
}