.Main {}

.layout-distribution {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.border {
  position: absolute;
  left: 0;
  right: 0;
  height: 5px;
  background-color: lightgrey;
}

.home-img {
  position: relative;
  align-self: center;
  height: 800px;
  bottom: 200px;
  z-index: -1;
}
.tutorial-img {
  position: relative;
  align-self: center;
  height: 600px;
  z-index: -1;
}

.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Home h1 {
  font-size: 40px;
  font-weight: bold;
 
}

.popup-tutorial{
  position: relative;
  right: 200px;
  background-image: url('../../assets/tutorial.png');
  background-size: cover;
  height: 600px;
  width: 800px;
  border: 1px solid lightgray;
  border-radius: 7px;
}