.Main {}

.layout-distribution {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.border {
  position: absolute;
  left: 0;
  right: 0;
  height: 5px;
  background-color: lightgrey;
}

.mainContainer {
  position: relative;
  left: 240px;
  margin: 20px;
}