  .PersonaList {
    display: flex;
    flex-direction: column;
  }

  .personaWrapper {
    display: flex;
    margin-top: 30px;
  }

  #save-btn-persona {
    position: relative;
    top: 10px;
    width: 100px;
    left: 12px;
  }